
<!doctype html>
<head>
    <title>Articles</title>
</head>
<html>
    <body>
        <h1> New Articles</h1>
        <hr>
        <form method ="post" action="/articles/add">
            <label>Title : </label>
            <input class = "form-input" type ="text" name="title">
            <label>Author:</label>
            <input class = "form-input" type ="text" name = "author">
            <button>submit</button>
        </form>
    </body>
</html>

// we can create a template layout and extends it,DRY