


<extends src ='layout.html' >

<block>
<html>
    <ul class = "list-group">
        <a href=#>click</a>
        <li class="list-group-item"><a>article 1</a> </li>
        <a><li class="list-group-item"> article 2 </li></a>
        <a><li class="list-group-item"> article 3 </li></a>
        <a><li class="list-group-item"> article 4 </li></a>
    </ul>
</html>
</block>
